<section class="task-list">

    <input type="text" placeholder="Digite a tarefa" class="input" [(ngModel)]="tarefa" (keydown.enter)="incluirTarefa({nome: this.tarefa, checked: false})">

    <div *ngFor="let item of list" class="item">
        <span>
            <span class="material-icons" (click)="deletarTarefa(item)">delete</span>
        </span>
        <span>
            <span>
                <input type="checkbox" name="" id="" (change)="onCheckboxChange(item)" [checked]="item.checked">
            </span>
            <span [ngClass]="{'checked': item.checked}">{{ item.nome }}</span>
        </span>
        
    </div>

    <button class="clear-button" (click)="limparLista()">Limpar lista</button>

</section>