<section class="task-list">

    <input type="text" placeholder="Digite a tarefa" class="input" [(ngModel)]="tarefa" (keydown.enter)="incluirTarefa()">

    <div *ngFor="let item of list" class="item">
        <span>
            <span class="material-icons" (click)="deletarTarefa(item)">delete</span>
        </span>
        <span>
            <span>
                <input type="checkbox" name="" id="" [checked]="">
            </span>
            {{ item.nome }}
        </span>
        
    </div>

    <button class="clear-button" (click)="limparLista()">Limpar lista</button>

</section>