/* You can add global styles to this file, and also import other style files */
@background-gray: #F1F1F1;
@input-gray: #ebebeb;
@list-item-background-gray: #e7e7e7;
@button-background-gray: #bdbdbd;
@text-gray: #b7b7b7;
@text-gray-dark: #858585;
@text-gray-light: #f5f5f5;
